.allDisplay {
    position: relative;
    top: 100px;
} 

h1, h2 {
    display: flex;
    justify-content: center;
} /* titles */

.table1, .table2 {
    display: flex;
    justify-content: center;
} /* tables */

input[type="number"] {
    margin: 10px;
    padding: 10px;
    width: 300px;
    font-size: 20px;
} /* input type number */

#empty {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 0;
    border: none;
    color: rgb(224, 0, 0);
    font-size: 15px;
} /* inputs empty alert */

input[type="radio"] {
    margin: 10px;
    width: 20px;
} /* input type radio */

span {
    font-size: 20px;
} /* table2 input contents */

.calcButton{
    display: flex;
    justify-content: center;
} /* calculate button display */

button {
    margin: 10px;
    padding: 10px;
    width: 300px;
} /* calculate button dimension */

#resultDialog {
    position: absolute;
    top: 450px;
} /* pop-up window */

input[type="text"] {
    margin: 10px;
    padding: 10px;
    width: 300px;
    font-size: 20px;
} /* input type text */

.closeDialogButton{
    display: flex;
    justify-content: center;
} /* close button pop-up window */

.return-index-button button {
    position: absolute;
    top: 18.5%;
    left: 22.5%;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .return-index-button .return-index-pop-up-text {
    margin: 0px;
    padding: 10px;
    width: 120px;
    position: absolute;
    top: 15%;
    left: 27.3%;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: black;
  } /* popup return login */