h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    font-size: 40px;
}

.table1 {
    position: absolute;
    bottom: 220px;
    left: 575px;
} /* table 1 */

.table2 {
    position: absolute;
    bottom: 217px;
    left: 1100px;
} /* table 2 */

#sendForm {
    margin: 0px;
    padding: 15px;
    width: 350px;
    position: absolute;
    bottom: 100px;
    left: 775px;
    font-size: 30px;
    cursor: pointer;
} /* send form button */

label {
    position: relative;
    right: 20px;
    font-size: 30px;
}

span {
    margin-left: 15px;
    font-size: 20px;
}

#css {
    margin-left: 25px;
}

#python {
    margin-left: 63px;
}

#sqlite {
    margin-left: 38px;
}

input {
    font-size: 20px;
}

input[type='text'], input[type='number'], input[type='date'] {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
}

#birthday {
    width: 243px;
}

input[type='radio'] {
    margin-top: 20px;
    margin-bottom: 20px;
}

#female {
    margin-left: 40px;
}

input[type='checkbox'] {
    margin-top: 30px;
    margin-bottom: 20px;
}

.warnings {
    margin-top: 5px;
    margin-bottom: 35px;
    height: 15px;
    border: 0;
    font-size: 25px;
    color: rgb(212, 14, 14);
} /* warning empty values */

#invalidId {
    margin-left: -45px;
}

#invalidRadio {
    margin-left: 10px;
    margin-bottom: 50px;
}

#invalidCheckBox {
    margin-left: -100px;
}

.return-index-button button {
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.return-index-button .return-index-pop-up-text {
    margin: 0px;
    padding: 10px;
    width: 120px;
    position: absolute;
    top: 13%;
    left: 12.5%;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: black;
} /* popup return index */
