h1 {
    position: relative;
    top: 75px;
    display: flex;
    justify-content: center;
}

#dataContainer {
    position: relative;
    left: 770px;
    top: 125px;
    display: flex;
    justify-content: center;
    width: 350px;
    font-size: 20px;
    border: 5px solid;
}

input {
    width: 190px;
    border: 0;
    font-size: 18px;
}

td {
    padding: 20px;
}
